#login-form .invalid-feedback{
    display: block!important;
}

.page-content--bgf7 {
    background: #f7f7f7;
    max-width: 1663px;
    margin: 0 auto;
    padding: 30px 20px;
}

.disabled{
    display: none;
}
li.active> .page-link{
    background: blue;
    color: white;
}
.pagination{
    margin: 20px 0;
}